@use '../../../main';

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.header {
  text-align: center;
  padding: 0 1em;
}

.result {
  margin-top: 0.5em;
  padding: 1em 0;
  text-align: center;
  min-width: 60%;
  font-size: 4em;
  @include main.border;
}
