.button {
  background-image: linear-gradient(-180deg, #6DD5FA 0%, #2980B9 100%);
  box-shadow: 2px 2px 5px gray;
  color: #ffffff;
  cursor: pointer;
  font-size: 2em;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.5em 1.5em;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover:enabled {
    background-image: linear-gradient(-180deg, #509dbd 0%, #2980B9 100%);
  }

  &:disabled {
    filter: grayscale(1);
  }

}
